<a href="https://colab.research.google.com/github/Vazi0/AD2-python-basics/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FUNDAMENTOS DE PYTHON
Escola: SoulCode Academy

Curso: Bootcamp Analista de Dados - Martech - AD2

Periodo: Semana 4

Professores: Franciane Rodrigues e Douglas Ribeiro

Aluno: Igor Honorio

* **Lógica de programação:** é um conceito teórico que se refere à forma de pensar e abordar problemas de programação.

* **Algoritmo** é uma descrição abstrata de um processo ou solução que poderá ser executado por um computador;
* **Script** é um conjunto de instruções ou comandos escritos em uma linguagem de programação específica. Geralmente, os scripts são usados para automatizar tarefas ou para definir o comportamento de um programa ou sistema. Eles são frequentemente executados interpretando linha por linha, em vez de serem compilados em um programa executável separado.
* **Programa** é  um conjunto de instruções escritas em uma linguagem de programação específica, organizadas de forma lógica, para realizar uma tarefa ou resolver um problema específico. Ao contrário de um script, um programa é compilado ou interpretado antes da execução, resultando em um arquivo executável que pode ser executado diretamente em um sistema operacional.

In [ ]:
print("Eai gld")

Eai gld

In [ ]:
print('\nEai,\nSeu\nGalado')

Eai,
Seu
Galado

In [ ]:
# Declarando as variáveis
idade = 26
altura = 1.65
nome = 'Igor'
sobrenome = "Honorio"
filhos = False #se você tem filhos, use True no lugar de False

In [ ]:
# Imprimir na tela usando comando print
print(idade)
print(altura)
print(nome)
print(sobrenome)
print(filhos)

26
1.65
Igor
Honorio
False

In [ ]:
# Impressão geral na tela de todas as variáveis declaradas
print(idade,altura,nome, sobrenome, filhos)

26 1.65 Igor Honorio False

In [ ]:
#Comando typo serve para checarmos o tipo de  dado que a variável está declarando
type(idade)

int

In [ ]:
#Comando typo serve para checarmos o tipo de  dado que a variável está declarando
type(idade)
type(altura)
type(nome)
#so pega o ultimo...

str

In [ ]:
# Checando o tipo de variável usando os comandos print e type juntos
print(type(idade))
print(type(altura))
print(type(nome))
print(type(sobrenome))
print(type(filhos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
# Armazenando strings e número
nome_completo = 'Igor Honório'
numero_favorito = "44"

In [ ]:
# checando a váriavel número_favorito
print(type(numero_favorito))

<class 'str'>

In [ ]:
# Se o número estiver entre aspas ele se transforma numa string
print(nome_completo, numero_favorito)

Igor Honório 44

In [ ]:
# Primeiro Nome do nosso codigo
nome

'Igor'

In [ ]:
# Renomeação da variável
nome = "Sara"

In [ ]:
# Atualização da variável "nome"
# Sempre a última alteração será a válida
nome

'Sara'

Resumo

Variáveis permitem salvar valores na memória usando um nome que atribuímos
Declaramos um nome no lado esquerdo do operador igual (“=”), e no lado direito, atribuir o valor que queremos salvar para usar mais tarde.
Como ler: Declaramos a variável "a" ao valor do "2" do tipo int
a = 2
Como ler: Declaramos a variável "b" ao valor do "10.953" do tipo float
b = 10.953
Como ler: A variável "a" recebe valor 2 do tipo int
a = 2
Como ler: A variável "b" recebe valor 10.953 do tipo float
b = 10.953
É possível usar os dois comandos print e type juntos
Atenção: Número pode ser string
Regras para nomes de variáveis

Deve começar com uma letra (maíuscula ou minúscula) ou subcrito(_).
Nunca pode começar com um número.
Pode conter letras maiúsculas, minúsculas, números e subscrito.
Não pode-se utilizar como parte do nome de uma variável: { ( + - * / \ ; . , ?
Letras maiúsculas e minúsculas são diferentes: casa = 4 Casa = 4

In [ ]:
# Conversão de int para float
num_int = 10
num_float = float(num_int)

In [ ]:
# Checando a conversão
print(type(num_int), type(num_float))
print(num_float)

<class 'int'> <class 'float'>
10.0

In [ ]:
# Convesão de int para string
num_int = 10
num_str = str(num_int)

Exercicio 01 - Como fazer
Conversão de variavel1 para variavel2
Num_V1 = xx
num_v2 = v2(num_v1)
Checar variavel
print(type(num_v1), type(num_v2))
print(num_v2)

In [ ]:
# Conversão de float para str
num_float = 10.6
num_str = str(num_float)

# Checando a conversão
print(type(num_float), type(num_str))
print(num_str)

<class 'float'> <class 'str'>
10.6

In [ ]:
# Conversão de str para int
num_str = "10"
num_int = int(num_str)

# Checando a conversão
print(type(num_str), type(num_int))
print(num_str)

<class 'str'> <class 'int'>
10

In [ ]:
# Conversão de str para float
num_str = "10.5"
num_float = float(num_str)

# Checando a conversão
print(type(num_str), type(num_float))
print(num_float)

<class 'str'> <class 'float'>
10.5

In [ ]:
# Conversão de str para int ()
# num_str = "10.5"
# num_int = int(num_str)

# Conversão de str para int ()
num_str = "10.5"
num_float = float(num_str) #conversão intermediária
num_int = int(num_float)

# Checando a conversão
print(type(num_str), type(num_int))
print(num_int)

<class 'str'> <class 'int'>
10

In [ ]:
# Adição
n1 = 5.887
n2 = 7.15
soma = n1 + n2
print(soma)
print('A soma é:', soma)
print(f"A soma dos números é {soma:.2f}")
print(n1 + n2)
n1+n2

13.036999999999999
A soma é: 13.036999999999999
A soma dos números é 13.04
13.036999999999999

13.036999999999999

No contexto do Python, o "f" em ".2f" é usado como um indicador de formatação para strings, mais especificamente para formatar números decimais. A letra "f" é derivada da palavra "float" (que significa "ponto flutuante" em inglês), que é o tipo de dado utilizado para representar números decimais em Python.

In [ ]:
# Subtração
a1 = 154.587
a2 = 10.548
sub = a1 - a2

# Modos de apresentação
print(sub)
print('A subtração é:', round(sub, 2))
print(f"A subtração dos números é {sub:.2f}")
print(a1 - a2)
a1 - a2

144.039
A subtração é: 144.04
A subtração dos números é 144.04
144.039

144.039

In [ ]:
#Multiplicação
b1= 3.5
multi= b1*3

#Modos de apresentação
print (multi)
print ('A multiplicão é:', round(multi,2))
print (f"A multiplicação dos números é:(multi:.2f)")
print (b1*3)
b1*3

10.5
A multiplicão é: 10.5
A multiplicação dos números é:(multi:.2f)
10.5

10.5

In [ ]:
# Divisão
x1 = 10
x2 = 5
div = x1/x2

# Modos de apresentação
print(div)
print('A divisão é:', div)
print( "Adivisão é", round(div,2))
print(f'A divisão dos números é {div:.2f}')
print(x1/x2)
x1/x2

2.0
A divisão é: 2.0
Adivisão é 2.0
A divisão dos números é 2.00
2.0

2.0

# python basico

In [ ]:
# Operadores Básicos

#soma (+) ex.: some 3 com 2

soma = 3 + 2

#subtraçao (-) ex.: subtraia 2 de 3

sub = 3 - 2

#multiplicação (*) ex.: multiplique 3 x 2

mult = 3 * 2

#divisao (/) ex.: Divida 3 por 2

div = 3 / 2

#parte inteira da divisão (//) ex.: Encontre e guarde a parte inteira da divisao 3 por 2

idiv = 3 // 2

#resto da divisao (%) ex.: Encontre e guarde o resto da divisao de 3 por 2

rdiv = 3 % 2

#potenciaçao (**) ex.: Eleve 3 a 2

pot = 3 ** 2

In [ ]:
print(soma)
print(sub)
print(mult)
print(div)
print(idiv)
print(rdiv)
print(pot)

5
1
6
1.5
1
1
9

In [ ]:
#Melhorando a visualizaçao dos prints f-string

print(f'O resultado da soma de 3 com 2 é: {soma}')
print(f'O resultado da subtraçao de 3 com 2 é: {sub}')
print(f'O resultado da multiplicaçao de 3 por 2 é: {mult}')
print(f'O resultado da divisao de 3 por 2 é: {div}')
print(f'A parte inteira da divisao de 3 por 2 é: {idiv}')
print(f'O resto da divisao de 3 por 2 é: {rdiv}')
print(f'O resultado da potenciação de 3 por 2 é: {pot}')

O resultado da soma de 3 com 2 é: 5
O resultado da subtraçao de 3 com 2 é: 1
O resultado da multiplicaçao de 3 por 2 é: 6
O resultado da divisao de 3 por 2 é: 1.5
A parte inteira da divisao de 3 por 2 é: 1
O resto da divisao de 3 por 2 é: 1
O resultado da potenciação de 3 por 2 é: 9

Operadores de comparaçao 'Bool'

In [ ]:
# (==) verifica se dois valores são iguais (retorna True ou False)
# Exemplo compare se 3 é igual a 3.0
a = 3 # atribuição do valor 3 (tipo int) para a variável a
b = 3.0 # atribuição do valor 3.0 (tipo float) para a variável b
teste1 = a == b # Fazendo o teste de igualdade de a com b e guradando na variável teste 1
print(teste1) # imprimindo o valor de teste1
teste2 = 'igor' == 'Igor'
print(teste2)

True
False

In [ ]:
3 == 6/2

True

In [ ]:
3 == '3'

False

In [ ]:
# (!=) verifica se dois valores sao diferentes (retorna True or False)
# Exemplo compare se 3 é diferente a 3.0

teste3 = a != b
teste4 = 'igor' != 'Igor'
print(teste3)
print(teste4)

False
True

In [ ]:
# (>) verifica se um valor é maior que o outro (retorna True or False)
# Ex.: compare se 3 é maior que 2

teste5 = 3 > 2
print(teste5)

# (>=) verifica se um valor é maior ou igual a outro (retorna True or False)
# Ex.: compare se 3 é maior ou igual a 3

teste6 = 3 >= 3
print(teste6)

# (<) verifica se um valor é menor que o outro (retorna True or False)
# Ex.: compare se 2 é menor que 2

teste7 = 2 < 2
print(teste7)

# (<=) verifica se um valor é menor ou igual a outro (retorna True or False)
# Ex.: compare se 2 é menor ou igual a 2

teste8 = 2<= 2
print(teste8)

True
True
False
True

Operadores de atribuição

In [ ]:
# Atribuição Direta (=) RECEBA! Atribui ao lado esquerdo do sinal um valor que esta ao lado direito do sinal.
nome = 'Igor'
peso_kg = 64
altura_m = 1.64

# Atribuição de incremento (+=), equivale a x = x + y
# Ex.: Crie uma variavel t que receba o numero inteiro 3 e depois acrescente o valor 1 para essa variavel.

t = 3
print(t)
t += 1
print(t)

# Atribuição de decremento (-=), equivale a x = x - y
# Ex.: Crie uma variavel z que receba o numero inteiro 5 e depois decrescente o valor 2 para essa variavel.

z = 5
print(z)
z-= 2
print(z)

# Atribuição de multiplicação (*=), equivale a x = x * y
# Ex.: Crie uma variavel j que receba o numero 5 e depois multiplique por 2

j = 5
print(j)
j *= 2
print(j)

# Atribuição de divisao (/=), equivale a x = x / y
# Ex.: Crie uma variavel w que receba o numero 7 e depois divida por 2

w = 7
print(w)
w /= 2
print(w)

# Atribuição da parte inteira da divisao (//=), equivale a x = x // y
# Crie uma variavel k que recebe o numero 7 e depois receba a parte inteira da divisao por 2

k = 7
print(k)
k //= 2
print(k)

# Atribuição do resto da divisao (%=), equivale a x = x % y
# Ex.: Crie uma variavel c que receba o numero 7 e depois recebe o resto da divisao por 2

c = 7
print(c)
c %= 2
print(c)

# Atribuição de potenciação (**=), equivale a x = x ** y
# Ex.: Crie uma variavel casamento que recebe 6 e depois o quadrado dela.

casamento = 6
print(casamento)
casamento **= 2
print(casamento)

3
4
5
3
5
10
7
3.5
7
3
7
1
6
36

Operadores Lógicos

In [ ]:
# (and)(&) Retorna (True) somente se todas condições de uma comparação forem satisfeitas
# Ex.:
teste9 = 3 >= 2 and 3 != 2 and 3 <= 4 # True True True
print(teste9)
# (or) Retorna (True) se uma ou mais condições de uma comparação forem satisfeitas
# Ex.:
teste10 = 3>=2 or 3 == 2 or 3 <= 2 # True False False
print(teste10)
# (not) Inverte True com False ou o contrário
# Ex.:
teste11 = not(teste10)
print(teste11)
teste12 = not(teste11)
print(teste12)

True
True
False
True

In [ ]:
# (not) Inverte verdadeiro com Falso
# Exemplo:
teste15 = (3 >= 2) | (3 == 2) | (3 > 4)
teste11 = not(teste10)
print(f'not(3 >= 2 or 3 == 2 or 3 > 4) é: {teste11}')
teste12 = not(teste9)
print(f'not((3 <= 2) & (3 != 2) & (3 < 4)) é: {teste12}')
teste13 = ((not(3 <= 2))) & (not(3 == 2)) & (3 < 4) # invertendo o resultado da primeira sentença e da segunda sentença
print(f'((not(3 <= 2))) & (not(3 == 2)) & (3 < 4) é: {teste13}')
teste14 = not((3 >= 2) & (3 != 2) & (3 < 4)) # invertendo o resultado da comparação de todas as sentenças
print(f'not((3 >= 2) & (3 != 2) & (3 < 4)) é: {teste14}')
print(teste15)

not(3 >= 2 or 3 == 2 or 3 > 4) é: False
not((3 <= 2) & (3 != 2) & (3 < 4)) é: False
((not(3 <= 2))) & (not(3 == 2)) & (3 < 4) é: True
not((3 >= 2) & (3 != 2) & (3 < 4)) é: False
True

Operadores de identidade (is, is not)

In [ ]:
# (is) Compara se um objeto é igual a outro
# Ex.:
h = 3
p = 3
teste16 = p == h
print(f'p == h é: {teste16}')
teste17 = p is h
print(f'p is h é: {teste17}')
m = 3
n = 3.0
teste18 = m == n
print(f'm == n é: {teste18}')
teste19 = m is n
print(f'm is n é: {teste19}')
print(type(m))
print(type(n))

# (is not) compara se um objeto é diferente do outro em relação ao valor e o tipo
x = 3
y = 4
teste20 = x != y
print(f'x != y é: {teste20}')
teste21 = x is not y
print(f'x is not y é: {teste21}')
o = 3
s = 3.0
teste22 = o != s
print(f'o != s é: {teste22}')
teste23 = o is not s
print(f'o is not s é: {teste23}')
print(type(o))
print(type(s))

p == h é: True
p is h é: True
m == n é: True
m is n é: False
<class 'int'>
<class 'float'>
x != y é: True
x is not y é: True
o != s é: False
o is not s é: True
<class 'int'>
<class 'float'>

In [ ]:
# (in) Retorna verdadeiro se um caracter ou sequencia de caracteres for encontrado dentro de uma string
# Exemplo:
nome = 'igor honorio'
teste24 = 'hon' in nome
print(f'igor honorio contém hon: {teste24}')
# (not in) Retorna verdadeiro se um caracter ou sequencia de caracteres NÃO for encontrado dentro de uma string
teste25 = 'Igor' not in nome
print(f'igor honorio não contém Igor: {teste25}')

igor honorio contém hon: True
igor honorio não contém Igor: True

Coletando informaçoes do usuario

In [ ]:
nome = input('Informe seu nome ')
print(f'O nome digitado é: {nome}')
peso = int(input('Informe seu peso em kg inteiros '))
print(f'{nome} tem : {peso}kg')
altura = float(input('Informe sua altura em metros '))
print(f'{nome} tem {peso} kg e {altura} metros de altura')
print(f'{nome}, seu IMC é: {imc:.1f}')

Informe seu nome Igor
O nome digitado é: Igor
Informe seu peso em kg inteiros 64
Igor tem : 64kg
Informe sua altura em metros 1.64
Igor tem 64 kg e 1.64 metros de altura
Igor, seu IMC é: 23.8

In [ ]:
peso

'64'

In [ ]:
type(peso)

int

In [ ]:
imc = peso / (altura ** 2)
print(imc)

23.795359904818564

# python strings

In [ ]:
# 0   1   2   3   4   5  6  7  8  9 10 11 12 13 (indice)
#-14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 (índice reverso)
# 1º 2º 3º 4º 5º 6º 7º 8º 9º 10º 11º 12º 13º 14º (ordinal{so na sua cabeça[esquizofrenico]})
# i g o r @ g m a i l  .  c  o m
email = 'igor@gmail.com'
# encontrando um caracter pelo índice
# Exemplo: qual é o quinto caracter dessa string?
print(f'O quinto caracter dessa string é: {email[4]}')
# Exemplo: qual é o último caracter dessa string?
print(f'O último caracter dessa string é: {email[13]}')
# Exemplo: Quais são os caracteres que vem depois do segundo (excluindo o segundo)
print(f'O quinto caracter dessa string é: {email[2:]}')
# Exemplo: Quais são todos os caracteres dessa string?
print(f'Todos os caracteres dessa string são: {email[:]}')
# Exemplo: Buscar e imprimir todos os caracteres até o de indice 4
print(f'Caracteres ate o {email[4]} sao: {email[:4]}') # esquerda do : = Inclusive direita do : = Exclusive antes: conta :depois nao conta
# Exemplo como acessar o último caracter da lista sem contar o tamaho dela (sem usar a função len())?
print(f'O último caracter dessa string é: {email[-1]} ou {email[13]}')

O quinto caracter dessa string é: @
O último caracter dessa string é: m
O quinto caracter dessa string é: or@gmail.com
Todos os caracteres dessa string são: igor@gmail.com
Caracteres ate o @ sao: igor
O último caracter dessa string é: m ou m

In [ ]:
# função length ('só str')
print(len(email))
len(nome)
# contar length sem a funçao 'len'
# ver o ultimo pelo -1

14

4

Métodos para Strings

In [ ]:
# Sinal de (+) para concatenar strings
nome = 'igor'
sobre = 'Honorio'
print(nome+' '+sobre)
# Converter um número em string
cpf = 12345678910
cpf = str(cpf)
print(type(cpf))

qtde = len(nome)
print(f'{nome} tem {qtde} caracteres.')

igor Honorio
<class 'str'>
igor tem 4 caracteres.

In [ ]:
altura = int(altura)
print(type(altura))
print(altura)

<class 'int'>
1

Metodos Especificos para Strings

In [ ]:
# Metodo para deixar a primeira letra de uma string maiúscula
print(nome)
nome = nome.capitalize()
print(nome)
nome = nome.casefold()
print(nome)

Igor
Igor
igor

In [ ]:
# (count) Metodo para contar quantas vezes um caracter aparece em uma string
material = 'paralelepipedo'
qtde_p = material.count('p')
print(f'{material} tem {qtde_p} Ps')

paralelepipedo tem 3 Ps

In [ ]:
# (endswith) verifica se uma string termina com um caracter ou sequencia de caracter
testend = email.endswith('@gmail.com')
print(testend)

True

In [ ]:
# (startswith) verifica se uma string começa com um caracter ou sequencia de caracter
testein = email.startswith('i')
print(testein)

True

In [ ]:
# (isnumeric) verifica se uma string é totalmente formada por numeros
cpf = '06644477784'
eai = cpf.isnumeric()
print(eai)
cpf = 'cpf é: 06644477784'
eai = cpf.isnumeric()
print(eai)

True
False

In [ ]:
# (isalpha) verifica se uma string é totalmente formada por letras
cpf = '06644477784'
eai = cpf.isalpha()
print(eai)
cpf2 = 'cpf é: 06644477784'
eai2 = cpf2.isalpha()
print(eai)
cpf2 = 'cpfaiai'
eai2 = cpf2.isalpha()
print(eai2)

False
False
True

In [ ]:
# (isalnum) "is it alpha-numeric?" verfica se uma string é totalmente formada por letras e/ou numeros
cpf = '06644477784'
eai = cpf.isnumeric()
print(eai)
cpf2 = 'cpfaai'
eai2 = cpf2.isalpha()
print(eai2)
cpf3 = 'cpfé06644477784'
eai3 = cpf3.isalnum()
print(eai3)

True
True
True

In [ ]:
# (split) separa uma string por um caracter especifico, se nao for especificado, será usado o ' ' (espaço)
dados = input('informe os valores separados por espaços ')
dados_sep = dados.split()
print(dados_sep)

informe os valores separados por espaços 1 2 3 4 5
['1', '2', '3', '4', '5']

In [ ]:
# (strip) tira um caracter especifico de uma string, se nao for especificado, será usado o ' ' (espaço)
autor = 'Igor '
print(autor)
print(len(autor))
autor = autor.strip()
print(autor)
print(len(autor))

Igor
5
Igor
4

In [ ]:
# (replace) substitui um caracter por outro
preco = 'R$10.50'
print(preco)
preco = preco.replace('.',',')
print(preco)

R$10.50
R$10,50

In [ ]:
# (title) coloca a primeira letra das palavras em maiusculo
nomezz = 'igor honorio de medeiros'
print(nomezz)
nomezz = nomezz.title()
print(nomezz)

igor honorio de medeiros
Igor Honorio De Medeiros

In [ ]:
# (upper) coloca todas letras de uma string em maiusculo
nomexy = 'igor honorio de medeiros'
print(nomexy)
nomexy = nomexy.upper()
print(nomexy)

igor honorio de medeiros
IGOR HONORIO DE MEDEIROS

# Estrutura de condição: if, elif, else

Instrução 'if': É usada para executar um bloco de código se uma determinada condição for verdadeira.

In [ ]:
'''
if condiçao:
      # bloco de código a ser executado se a condição for verdadeira
'''

In [ ]:
idade = 19
if idade >= 18:
      print('Você é maior de idade')

Você é maior de idade

In [ ]:
idade = 18
if idade >= 18:
     print('Você e maior de idade')

Você e maior de idade

In [ ]:
idade = 17
if idade >= 18:
      print('Você é maior de idade')

Intrução 'else': É usada em conjunto com a condição 'if' e especifica um bloco de codigo a ser executado se a condiçao do 'if' nao for verdadeira.

In [ ]:
'''
if condiçao:
      # bloco de código a ser executado se a condição for verdadeira
      else condiçao:
      # bloco de código a ser executado se a condição nao for verdadeira
'''

In [ ]:
idade = int(input('Digite sua idade:'))

if idade >= 18:
  print('Você é maior de idade.')
else:
    print('Você é menor de idade.')

Digite sua idade:26
Você é maior de idade.

Intrução 'elif': É uma abreviação de "else if" e permite testar múltiplas condições em sequência. Ela é usada quando há mais de duas possibilidades a serem consideradas.

In [ ]:
'''
if condiçao1:
      # bloco de código a ser executado se a condição1 for verdadeira
elif condiçao2:
      # bloco de código a ser executado se a condiçao2 for verdadeira
else condiçao:
      # bloco de código a ser executado se a condição nao for verdadeira
'''

In [ ]:
nota = int(input('Digite sua nota:'))

if nota >= 90:
  print('Sua nota é A.')
elif nota >= 80:
  print('Sua nota é B.')
elif nota >= 70:
  print('Sua nota é C.')
else:
    print('Sua nota é D.')

Digite sua nota:66
Sua nota é D.

# Exemplo:

1. Solicite ao usuario que digite um numero.
2. Armazene o numero digitado em uma variavel chamada 'numero'
3. Verifique se o numero é igual a zero. Se sim, exiba a mensagem "O número digitado é zero"
4. Caso contrário, verifique se o numero é maior que zero. Se sim, exiba a mensagem "O número digitado é positivo"
5. Se nenhuma das condiçoes anteriores forem atendidas, significa que o numero é negativo, logo, exiba a mensagem "O número digitado é negativo"
6. Encerre o programa.

In [ ]:
numero = float(input("Digite um número: "))

if numero == 0:
    print("O número digitado é zero.")
elif numero > 0:
    print("O número digitado é positivo.")
else:
    print("O número digitado é negativo.")

Digite um número: 0
O número digitado é zero.

# Exercícios:

In [ ]:
# 1. Faça um algoritmo que leia um número inteiro e diga se ele é maior, menor ou igual a 10;
numero = int(input('Digite um número inteiro:'))

if numero > 10:
  print('Número maior que 10.')
elif numero == 10:
  print('Número igual a 10.')
else:
  print('Número menor que 10.')

In [ ]:
# 2. Faça um algoritmo que leia dois números inteiros e apresente na tela o maior deles ou se eles são iguais;
numero = int(input('Digite um número inteiro:'))
numero2 = int(input('Digite outro número inteiro:'))

if numero > numero2:
  print(numero)
elif numero2 > numero:
  print(numero2)
else:
  print('Os dois números são iguais.')

In [ ]:
# 3. Crie um algoritmo que leia um número e diga se ele está no intervalo fechado entre 25 e 200;
numero = float(input('Digite um número:'))

if numero >= 25 and numero <= 200:
  print('O número está no intervalo entre 25 e 200.')
else:
  print('O número não está no intervalo entre 25 e 200')

In [ ]:
# 4. Crie um algoritmo que leia um número e informe na tela se o mesmo é positivo. Caso seja, mostre o número na tela;
numero = float(input('Digite um número:'))

if numero > 0:
  print(f'{numero} é um número positivo')
else: pass #comando para não encerrar o código

In [ ]:
# 5. Crie um algoritmo que leia um número e informe se ele é divisível por 7.
numero = float(input('Digite um número:'))
rdiv = (numero % 7)
if rdiv == 0:
  print('O número é divisível por 7.')
else:
    print('O número não é divisível por 7')

In [ ]:
# 6. Crie um algoritmo que leia um número e diga se ele é par ou ímpar.
numero = int(input('Digite um número:'))
if (numero % 2) == 0:
  print('O número é Par.')
else:
  print('O número é Impar.')

In [ ]:
# Ex6b
n6 = int(input('Informe um número: '))
if n6 % 2 == 0 and n6 != 0:
  print(f'{n6} é um número par')
elif n6 % 2 != 0 and n6 != 0:
  print(f'{n6} é um número ímpar')
else:
  print(f'{n6} é zero e')

In [ ]:
# 7. Escreva um programa em Python que solicite ao usuário que digite uma letra.
# Em seguida, verifique se a letra digitada é uma vogal ou não.
letra = str(input('Digite uma letra:'))
if letra in ('aeiouAEIOU'):
  print('A letra é uma vogal.')
else:
  print('A letra não é uma vogal.')

In [ ]:
# 8. Escreva um programa que solicite ao usuário três notas de um aluno e calcule a média.
# Em seguida, exiba a média e uma mensagem informando se o aluno foi aprovado (média maior ou igual a 7) ou reprovado.
nota1 = float(input('Insira sua primeira nota:'))
nota2 = float(input('Insira sua segunda nota:'))
nota3 = float(input('Insira sua terceira nota:'))
media = (nota1 + nota2 + nota3) / 3

if media >= 7:
  print(f'{media:.2f}, você foi aprovado.')
else:
  print(f'{media:.2f}, você foi reprovado.')

In [ ]:
# 9. Escreva um programa que solicite ao usuário os comprimentos dos três lados de um triângulo.
# Em seguida, exiba uma mensagem informando se o triângulo é equilátero (todos os lados iguais),
# isósceles (dois lados iguais) ou escaleno (todos os lados diferentes).
lado = float(input('Digite um dos tres comprimentos dos lados de um triângulo:'))
lado1 = float(input('Agora, digite mais um dos tres comprimentos dos lados de um triângulo:'))
lado2 = float(input('Para finalizar, digite o ultimo dos tres comprimentos dos lados de um triângulo:'))

if lado == lado1 and lado1 == lado2:
  print('Este triângulo é equilátero.')
elif lado == lado1 or lado == lado2 or lado1 == lado2:
  print('Este triângulo é isósceles.')
else:
  print('Este triângulo é escaleno.')

In [ ]:
# Ex 9 (com verificação do triangulo)
l1 = float(input('Informe o comprimento do 1º lado: '))
l2 = float(input('Informe o comprimento do 2º lado: '))
l3 = float(input('Informe o comprimento do 3º lado: '))

if l1 < (l2 + l3) and l2 < (l1 + l3) and l3 < (l2 + l1):
  tri = True
else:
  tri = False

if tri == True:
  print('A medidas informadas formam um triangulo')
else:
  print('''A medidas informadas não formam um triangulo, por favor digite
  medidas que formem um triângulo, lembrando que para que exista um triângulo
  a medida de um lado qualquer deve ser menor que a soma das medidas dos outros
  dois lados informado''')

# Código para caso as medidas formem um triangulo,faça sua classificação
if tri == True:
  if l1 == l2 and l2 == l3:
    print('O triângulo é equilátero, tem três lados iguais.')

  elif (l1 == l2 or l1 == l3 or l2 == l3): # and (l1 != l2 or l1 != l3 or l2 != l3): essa condição seria necessária caso não houvesse outra condicação antes dela que pegasse o caso de todos os lados iguais
    print('O triângulo é isósceles, tem dois lados iguais..')

  else:
    print('O triângulo é escaleno todos os lados diferentes.')
else:
  pass

In [ ]:
# 10.  Escreva um programa que solicite ao usuário sua idade e exiba uma mensagem informando
# em qual faixa etária ele se encontra: criança (0-12 anos), adolescente (13-17 anos),
# adulto (18-59 anos) ou idoso (60 anos ou mais).
idade = int(input('Digite sua idade:'))

if idade >= 0 and idade <= 12:
  print('Sua faixa etária é: Criança.')
elif idade >= 13 and idade <= 17:
  print('Sua faixa etária é: Adolescente.')
elif idade >= 18 and idade <= 59:
  print('Sua faixa etária é: Adulto.')
else:
  print('Sua faixa etária é: Idoso.')

# *Exercicios 2*

In [ ]:
# Ex1: primeira forma
n = int(input('Digite um número inteiro: ')) #recebendo valor do usuário e o transformando em int
if (n == 10): # (se n for igual a 10 faça alguma coisa)
  print(f'{n} é igual a 10')
elif n > 10:
  print(f'{n} é maior que 10')
else:
  print(f'{n} é menor que 10')

In [ ]:
# Ex2
n1 = int(input('Informe um número inteiro: '))
n2 = int(input('Informe outro número inteiro: '))

if n1 > n2:
  print(f'{n1} é o maior número informado')
elif n1 < n2:
  print(f'{n2} é o maior número informado')
else:
  print(f'{n1} é igual a {n2}')

In [ ]:
# Ex 3
n3 = float(input('Digite um número real: ')) #recebendo valor do usuário e o transformando em float
if n3 >= 25 and n3 <= 200:
  print(f'{n3} está dentro do intervalo fechado entre 25 e 200')
else:
  print(f'{n3} não está dentro do intervalo fechado entre 25 e 200')

In [ ]:
# Ex4
n4 = float(input('Digite um número real: ')) #recebendo valor do usuário e o transformando em float
if n4 > 0:
  print(f'{n4} é um número positivo')
else:
  pass # comando que se aplica para não ecerrar o código e sim passar para a próxima linha de código

Digite um número real: 10
10.0 é um número positivo

In [ ]:
# Off Topic
n4 = float(input('Digite um número real: ')) #recebendo valor do usuário e o transformando em float
if n4 > 0:
  print(f'{n4} é um número positivo')
elif n4 <0:
    print(f'{n4} é um número negativo')
else:
  print(f'{n4} é um número neutro')

Digite um número real: -1
-1.0 é um número negativo

In [ ]:
# Ex 5
n5 = float(input('Informe um número: '))
if n5 % 7 == 0:
  print(f'{n5} é um número divisível por 7')
else:
  pass

Informe um número: 7
7.0 é um número divisível por 7

In [ ]:
# Ex6
n6 = int(input('Informe um número: '))
if n6 % 2 == 0:
  print('O número digitado é par.')
else:
  print('O número digitado é ímpar.')

Informe um número: 0
O número digitado é par.

In [ ]:
# Ex6b
n6 = int(input('Informe um número: '))
if n6 % 2 == 0 and n6 != 0:
  print(f'{n6} é um número par')
elif n6 % 2 != 0 and n6 != 0:
  print(f'{n6} é um número ímpar')
else:
  print(f'{n6} é zero e o professor viajou na maionese e não quer assumir como par e também é o número de casamentos futuros do professor')

Informe um número: 0
0 é zero e o professor viajou na maionese e não quer assumir como par e também é o número de casamentos futuros do professor

In [ ]:
# Ex7
l = input('Digite uma letra: ')
l = l.casefold()

if l == 'a' or l == 'e' or l == 'i' or l == 'o' or l == 'u':
  print(f'{l} é uma vogal')
else:
  print(f'{l} não é uma vogal')

Digite uma letra: U
u é uma vogal

In [ ]:
# Ex 8
nota1 = float(input('Informe a primeira nota: '))
nota2 = float(input('Informe a segunda nota: '))
nota3 = float(input('Informe a terceira nota: '))
media = (nota1 + nota2 + nota3) / 3
if media >= 7:
  print(f'Aprovado com média {media:.2f}')
else:
  print(f'Reprovado com média {media:.2f}')

Informe a primeira nota: 6
Informe a segunda nota: 5
Informe a terceira nota: 4
Reprovado com média 5.00

In [ ]:
# Ex 9
l1 = float(input('Informe o comprimento do 1º lado: '))
l2 = float(input('Informe o comprimento do 2º lado: '))
l3 = float(input('Informe o comprimento do 3º lado: '))

if l1 < (l2 + l3) and l2 < (l1 + l3) and l3 < (l2 + l1):
  tri = True
else:
  tri = False

if tri == True:
  print('A medidas informadas formam um triangulo')
else:
  print('''A medidas informadas não formam um triangulo, por favor digite
  medidas que formem um triângulo, lembrando que para que exista um triângulo
  a medida de um lado qualquer deve ser menor que a soma das medidas dos outros
  dois lados informado''')

# Código para caso as medidas formem um triangulo,faça sua classificação
if tri == True:
  if l1 == l2 and l2 == l3:
    print('O triângulo é equilátero, tem três lados iguais.')

  elif (l1 == l2 or l1 == l3 or l2 == l3): # and (l1 != l2 or l1 != l3 or l2 != l3): essa condição seria necessária caso não houvesse outra condicação antes dela que pegasse o caso de todos os lados iguais
    print('O triângulo é isósceles, tem dois lados iguais..')

  else:
    print('O triângulo é escaleno todos os lados diferentes.')
else:
  pass

Informe o comprimento do 1º lado: 3
Informe o comprimento do 2º lado: 4
Informe o comprimento do 3º lado: 5
A medidas informadas formam um triangulo
O triângulo é escaleno todos os lados diferentes.

In [ ]:
# Ex 10
age = int(input('Informe a sua idade em anos inteiros: '))
if 0 <= age <= 12: #( se 0 for menor ou igual a age e age for menor ou igual a 12)
  print('criança')
elif 13 <= age <= 17:
  print('adolescente')
elif 18 <= age <= 59:
  print('adulto')
else:
  print('idoso')

Informe a sua idade em anos inteiros: 63
idoso

In [ ]:
# EX 10
age = int(input('Informe a sua idade em anos inteiros: '))
if age <= 12: #( se 0 for menor ou igual a age e age for menor ou igual a 12)
  print('criança')
elif age <= 17:
  print('adolescente')
elif age <= 59:
  print('adulto')
else:
  print('idoso')

Informe a sua idade em anos inteiros: 63
idoso

Estruturas de dados em Python - parte 1 Listas

In [ ]:
# Lista é uma estrutura que pode armazenar diversos valores sobre um determinado atributo
lista_vazia = []
noivo = ['Zé','Mané','Ana','Fran','João','Franz']
print(f'Convidados do noivo - {noivo}')
idades = [41, 47, 46, 28, 17, 50]
print(f'Idades dos convidados do noivo {idades}')
massas = [86, 74, 52, 47, 90, 110]
print(f'Massas dos convidados do noivo {massas}')
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
print(f'Alturas (em metros) dos convidados do noivo {alturas}')

Convidados do noivo - ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']
Idades dos convidados do noivo [41, 47, 46, 28, 17, 50]
Massas dos convidados do noivo [86, 74, 52, 47, 90, 110]
Alturas (em metros) dos convidados do noivo [1.68, 1.74, 1.65, 1.65, 1.8, 1.97]

In [ ]:
print(f'Idades dos convidados do noivo {idades}')

Idades dos convidados do noivo [41, 47, 46, 28, 17, 50]

In [ ]:
# Acessando um elemento específico da lista a partir do seu índice
print(f'A convidada de honra é {noivo[3]}')
# Criar uma sublista com apenas os os três primeiros elementos da lita noivo
sublista = noivo[:3]
print(sublista)
p_u = [noivo[0], noivo[-1]]
print(f'O primeiro convidado é {p_u[0]} e o último convidado é {p_u[-1]}')
print(f'{noivo}')

A convidada de honra é Fran
['Zé', 'Mané', 'Ana']
O primeiro convidado é Zé e o último convidado é Franz
['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']

In [ ]:
# Método index(valor procurado, índice de ínicio da procura, e índice fim da procura) por definição se não for oferecido o índice de ínicio e fim será procurado na lista toda
id = noivo.index('Fran')

In [ ]:
# Qual é o imc da convidada Fran
print(f'O IMC da Fran é {(massas[id]/alturas[id]**2):.2f}')

O IMC da Fran é 17.26

Desafio 1':
Crie um programa que receba do usuário um nome e caso esse nome
esteja na lista guarde seu índice em uma variável e a utilize para buscar massa e altura correspondente, bem como calcular seu imc e após tudo isso informar o usuário, caso o nome não esteja na lista retorne uma mensagem informando o usuário

In [ ]:
idades = [41, 47, 46, 28, 17, 50]
massas = [86, 74, 52, 47, 90, 110]
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
noivo = ['Zé','Mané','Ana','Fran','João','Franz'] # Cria o banco de dados com os nomes dos convidados do noivo
nome = input('Informe o nome que deseja consultar: ') #recebendo o nome do usuário
nome = nome.capitalize() #Deixo o nome que o usuário digitou com a primeira letra em caixa alta e as demais em caixa baixa
if nome in noivo: # se o nome que o usuário digitou estiver no banco de dados faça algo
  id2 = noivo.index(nome) # recebendo o argumento nome e procurando o seu índice já sabendo que ele está na lista exatmente com a mesma grafia
  imc = massas[id2]/alturas[id2]**2 # calculando o imc já sabendo a posição que deve busta em cada lista (massas e alturas)
  print(f'{nome} tem {massas[id2]} kg, {alturas[id2]} metros e seu imc é: {imc:.1f}') # Mostrando o nome digitado e seus respectivos massa, altura e imc
else:
  print(f'Desculpe, {nome} não está na lista, por favor reinicie o programa para consultar outro nome')

Informe o nome que deseja consultar: Ze
Desculpe, Ze não está na lista, por favor reinicie o programa para consultar outro nome

In [ ]:
d = []

In [ ]:
d.append(22)

In [ ]:
print(d)

[22, 22, 22, 22, 22]

In [ ]:
# Adicionando elementos em uma lista qualquer com o método append() por padrão este método insero o valor desejado em uma lista existente na última posição
lista_vazia = [] # cria uma lista vazia com o nome lista vazia e apaga todos os elementos de qualquer objeto com o mesmo nome
print(lista_vazia) # imprime uma lista vazia que já existe
lista_vazia.append('Joana') # adiciona Joana na última posição de uma lista que já exista
lista_vazia.append('Douglas')
lista_vazia.append('Eduardo')
lista_vazia.append('Ester')
lista_vazia.append('Daniela')
lista_vazia.append('Pedro')
lista_vazia.append('Maria')
print(lista_vazia) # imprime o status atual da lista vazia
fam = lista_vazia
print(lista_vazia)
print(fam)

[]
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
fam.insert(3, 'Tobias')
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Tobias', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
fam[3] = 'Raimundo' # Atribuição direta insere um novo elemento substituindo o anterior se houver
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
# Excluindo elementos de uma lista
fam.pop() # método que exclui pelo índice, por padrão exclui o último elemento se não informarmos o índice
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluir Joana da lista fam pelo método pop
fam.pop(0)
print(fam)

['Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluir raimundo da lista fam pelo método remove
fam.remove('Raimundo')
print(fam)

['Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro']

# Estruturas de dados em Python

 - Listas

In [ ]:
# Lista é uma estrutura que pode armazenar diversos valores sobre um determinado atributo. (é interessante que os atributos tenham o mesmo type)
lista_vazia = []
noivo = ['Zé', 'Mané','Maria','Joana','Douglas','Fran','Vida']
print(f'Convidados do noivo: {noivo}')
idades = [44, 66, 4, 20, 47, 36, 26]
print(f'Idades dos convidados do noivo: {idades}')
massas = [86, 64, 47, 90, 110, 60, 63]
print(f'Massas dos convidados do noivo: {massas}')
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97, 1.63]
print(f'Altura dos convidados do noivo: {alturas}')

Convidados do noivo: ['Zé', 'Mané', 'Maria', 'Joana', 'Douglas', 'Fran', 'Vida']
Idades dos convidados do noivo: [44, 66, 4, 20, 47, 36, 26]
Massas dos convidados do noivo: [86, 64, 47, 90, 110, 60, 63]
Altura dos convidados do noivo: [1.68, 1.74, 1.65, 1.65, 1.8, 1.97, 1.63]

In [ ]:
# Acessando um elemento específico da lista através do indice.
print(noivo[3])
pódio = noivo[:3] #sublista com os tres primeiros
print(pódio)

Joana
['Zé', 'Mané', 'Maria']

In [ ]:
# Método Index (valor procurado{buscar}, a partir de qual indice, até qual indice)
id = noivo.index('Fran') # id so pra atribuir o indice 5 pra uma variavel

In [ ]:
# Calculando o IMC do convidado Fran
print(f'O imc da fran é: {(massas[id]/alturas[id]**2):.2f}')

O imc da fran é: 15.46

In [ ]:
nome = input('Informe o nome que deseja consultar: ') #recebendo o nome do usuário
nome = nome.capitalize() #Deixo o nome que o usuário digitou com a primeira letra em caixa alta e as demais em caixa baixa
if nome in noivo: # se o nome que o usuário digitou estiver no banco de dados faça algo
  id2 = noivo.index(nome) # recebendo o argumento nome e procurando o seu índice já sabendo que ele está na lista exatmente com a mesma grafia
  imc = massas[id2]/alturas[id2]**2 # calculando o imc já sabendo a posição que deve busta em cada lista (massas e alturas)
  print(f'{nome} tem {massas[id2]} kg, {alturas[id2]} metros e seu imc é: {imc:.1f}') #Mostrando os dados a partir do indice do nome digitado.
else:
  print(f'Desculpe, {nome} não está na lista, por favor reinicie o programa para consultar outro nome')

In [ ]:
# Adicionando elementos à uma lista com o método append() por padrão este método insere o valor desejado em uma lista existente na última posição
lista_vazia = []
print(lista_vazia)
lista_vazia.append('Joana')
lista_vazia.append('Douglas')
lista_vazia.append('Eduardo')
lista_vazia.append('Ester')
lista_vazia.append('Daniela')
lista_vazia.append('Pedro')
lista_vazia.append('Maria')
lista_vazia.append('Tainha')
print(lista_vazia) # imprime o status atual da lista vazia
fam = lista_vazia
print(lista_vazia)
print(fam)

In [ ]:
# lista.insert(indice onde vai inserir, o que vai inserir)
fam.insert(3,'Tobias')
print(fam)

In [ ]:
# Atribuição direta
fam[3] = 'Teupai'
print(fam)

In [ ]:
# Excluindo elementos de uma lista, método (variavel.pop)
fam.pop() #método que exclui pelo índice, por padrão exclui o último elemento se não informarmos o índice
print(fam)
fam.pop(3)
print(fam)

In [ ]:
fam.insert(0,'Tainha')

In [ ]:
# Excluindo elementos de uma lista, método (variável.remove)
fam.remove('Tobias')
print(fam)

## Listas (continuação da aula 16)

In [ ]:
# criando uma lista com strings
nomes = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

# criando uma lista com números inteiros
pesos = [78, 25, 98, 63, 92, 67]

# criando uma lista com números fracionários
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]

In [ ]:
# forçando um erro usando o remove
nomes.remove('xerox')

In [ ]:
# solução 1
teste = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável teste
teste = teste.capitalize() # Padroniza a variável teste com a primeira letra maiúscula
if teste in nomes: # verifica se o nome armazenado em teste está na lista de nomes
  nomes.remove(teste) # se somente se o nome armazenado em teste estiver na lista, faz a exclusão
  print(f'O nome {teste} foi exluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
else:
  print(f'O nome {teste} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista informa o usuário essa situação

In [ ]:
# solução 2 (utlizando try/except)
teste2 = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável teste
teste2 = teste2.capitalize()# Padroniza a variável teste com a primeira letra maiúscula
try: # comando para tentar fazer alguma ação
  nomes.remove(teste2) # ação que será feita caso a tentativa seja bem sucedida (neste caso se o nome digitado estiver na lista)
  print(f'O nome {teste2} foi excluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
except: # comando para o caso da tentativa (try) ser mal sucedida (no caso se o nome não estiver na lista)
  print(f'O nome {teste2} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista informa o usuário essa situação

In [ ]:
# Tamanho da lista len(lista)
print(len(nomes))

# Maior valor da lista
print(max(pesos))

# Menor valor da lista
print(min(alturas))

# Soma dos valores de uma lista
print(sum(alturas))

# Contando a frequência de um valor em uma lista
print(nomes.count('Douglas'))

# Ordenar uma lista crescente
nomes.sort()
print(nomes)
# Ordenar uma lista decrescente
nomes.sort(reverse=True)
print(nomes)

6
98
1.29
10.08
1
['Daniela', 'Douglas', 'Eduardo', 'Ester', 'Maria', 'Pedro']
['Pedro', 'Maria', 'Ester', 'Eduardo', 'Douglas', 'Daniela']

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando o método extend
# Melhor para alteração no banco de dados
nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

nomes1.extend(nomes2)

print(nomes1)

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando sinal de (+) (concatenando listas)
# Melhor para filtro
nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

teste = nomes1 + nomes2
print(teste)

In [ ]:
# Colocando uma lista dentro de outra
carros = ['Fusca', 'Gol']
carros2 = ['Uno', 'Punto', 'Bravo']
carros.append(carros2)
print(carros)
len(carros)

In [ ]:
# tirando uma lista da outra
fiat = carros[2]
print(fiat)
carros2.append('Opala') # inserir no ultimo indice, se quiser especificar usa .insert('bla', indice)

In [ ]:
# tirando um item de uma lista que está dentro de outra
ok = carros[2][-1]
print(f'O melhor carro de todos os tempos é o {ok}')

Função Range

In [ ]:
# Função range com um argumento cria um lista com n valores inteiros de 0 a a n-1
lista1 = list(range(5))
print(lista1)
# Função range com dois argumentos cria um lista com n valores inteiros do início informado no primeiro argumento até  ((n-1) - primeiro argumento informado) informado no segundo argumento
lista2 = list(range(1,5))
print(lista2)
# Função range com três argumentos cria um lista com definição de onde começar (primeiro argumento), onde parar (segundo argumento) e de qual tamando de intervalo entre os valores (terceiro argumento)
lista3 = list(range(0,5,2))
print(lista3)

# Estruturas de repetição (For)

In [ ]:
# Apresentando e utilizando o for de forma simples
pesos = [78, 25, 98, 63, 92, 67]
for i in pesos:
  print(i)

In [ ]:
# Utilizando o for com else
for i in pesos:
    print(i)
else:
    print('Todos os items foram exibidos com sucesso')

In [ ]:
# Utilizando o for com range
alturas_quad = []
imc = []
for i in range(len(pesos)):
  print(i)
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')
print(alturas_quad)

0
1
2
3
4
5
IMC [22.79035792549306, 15.023135628868456, 32.0, 22.589551436050055, 27.77442337881898, 23.18339100346021]
[3.4225000000000003, 1.6641000000000001, 3.0625, 2.7889, 3.3124000000000002, 2.8899999999999997]

In [ ]:
# Utilizando o for com enumerate
alturas_quad = []
imc = []
for i, v in enumerate(pesos):
  print(i)
  print(v)
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')

# Excercício x
Aluno: Igor Honório

1 - Crie um script que receba do usuário uma lista de n números inteiros digitados pelo
usuário na mesma caixa de entrada separados por espaços e após isso utilize o método
split para separar esses números e armazená-los em uma lista acesse o índice 0 dessa
nova lista e verifique seu tipo e caso seja o tipo inteiro imprima para o usuário a seguinte
mensagem: este valor é do tipo inteiro, caso contrário imprima: este valor não é do tipo
inteiro.

In [ ]:
# Ex1
lista = input('Insira numeros inteiros separados por espaço:')
listanova = lista.split()
i0 = listanova[0]

if type(i0) == int:
  print('Esse número é inteiro')
else:
  print(f'Esse número não é inteiro')

2 - Crie um script que aproveite a lista utilizada para imprimir a mensagem do exercício
anterior e utilize uma estrutura for que percorra toda a lista e faça a tipagem de cada
valor como inteiro, após isso acesse o índice 0 dessa nova lista e verifique seu tipo e
caso seja o tipo inteiro imprima para o usuário a seguinte mensagem: este valor é do
tipo inteiro, caso contrário imprima: este valor não é do tipo inteiro.

In [ ]:
# Ex2
lista_int = []

for n in listanova:
 lista_int.append(int(n))

if type(lista_int[0]) == int:
  print('Esse número é inteiro')
else:
  print(f'Esse número não é inteiro')

Esse número é inteiro

3 - Utilizando a lista tipada como int do exercício 2, faça um print que exiba a soma de  todos os valores dessa lista.

In [ ]:
# Ex3
soma = sum(lista_int)
print(soma)

66

4 - Crie uma lista vazia denominada quadrados e utilizando a lista tipada como int do  exercício 2, faça uma estrutura do tipo for que percorra cada elemento dessa lista de  números inteiros, eleve cada valor encontrado ao quadrado e insira cada resultado na  lista quadrados e ao final exiba a soma dos valores da lista quadrados.

In [ ]:
# Ex4
quadrados = []
for v in lista_int:
  quadrados.append(v**2)
print(f'{sum(quadrados)}')

3166

5 - Crie um programa que receba do usuário duas listas de n números inteiros digitados  pelo usuário separados por espaços e após isso utilize o método split para dividir cada  lista gerando duas novas listas chamadas x e y é importante deixar claro para o usuário  que as duas listas digitadas devem ter a mesma quantidade de números digitados  independente de quantos sejam. Após isso, faça a tipagem de todos os números das  duas listas como float, então crie três novas listas vazias: xquad, yquad e xy. Agora  preencha a lista xquad com cada elemento da lista x elevado ao quadrado, depois faça  o mesmo para yquad, elevando cada elemento de y ao quadrado e por último preencha  a lista xy fazendo a multiplicação de cada valor da lista x pelo seu correspondente na  lista y. No final crie a variável sx que recebe a soma dos valores da lista x, a variável sy  que recebe a soma dos valores da lista y, a variável sxquad, que recebe a soma da lista  xquad, a variável syquad que recebe a soma da lista de yquad e a variável sxy que  recebe a soma da lista de xy e no final imprima todas as variáveis de soma criadas.

In [ ]:
# Ex5
listx = input('Insira uma lista de numeros inteiros separados por espaço:')
listy = input('Insira outra lista de numeros inteiros separados por espaço, do mesmo tamanho:')
x = listx.split()
y = listy.split()
if len(x) == len(y):
  for v in range(0, len(x)):
    x[v] = float(x[v])
    y[v] = float(y[v])
  xquad = []
  yquad = []
  xy = []
  for z in range(0, len(x)):
    xquad.append(x[z]**2)
    yquad.append(y[z]**2)
    xy.append(x[z] * y[z])
  sx = sum(x)
  sy = sum(y)
  sxquad = sum(xquad)
  syquad = sum(yquad)
  sxy = sum(xy)
  print(f'{sx} {sy} {sxquad} {syquad} {sxy}')
else:
  print('Por favor, tente denovo inserindo uma lista de tamanho igual.')

Insira uma lista de numeros inteiros separados por espaço:1 2 2 1 2
Insira outra lista de numeros inteiros separados por espaço, do mesmo tamanho:2 1 1 2 4
8.0 10.0 14.0 26.0 16.0

# Loop while

while "enquanto condição... :
   faça algo."
   Sentença que declara uma condiçao que enquanto for verdadeira executa um bloco de códigos linha por linha na ordem específica de cada linha.

In [ ]:
cont = 0
n = int(input('Insira um número: '))
while cont < n:
  print(f'Contador está em: {cont} ')
  cont += 1

In [ ]:
'''
Faça um script que receba do usuário 5 números inteiros, armazene os números recebidos em uma lista e no final exiba a soma desses valores.
'''

In [ ]:
lista = []

n1 = int(input('Digite um número inteiro: '))
n2 = int(input('Digite outro número inteiro: '))
n3 = int(input('Digite mais um número inteiro: '))
n4 = int(input('Digite mais um número inteiro: '))
n5 = int(input('Digite o último número inteiro: '))
lista.append(n1)
lista.append(n2)
lista.append(n3)
lista.append(n4)
lista.append(n5)

print(sum(lista))

Digite um número inteiro: 1
Digite outro número inteiro: 2
Digite mais um número inteiro: 3
Digite mais um número inteiro: 4
Digite o último número inteiro: 5
15

In [ ]:
'''
Faça um script que receba do usuário n números inteiros, armazene os
números recebidos a cada momento em que forem recebidos em uma lista e
no final exiba a soma desses valores. Considere que o usuário deverá informar
apenas 1 numero inteiro por caixa de diálogo é permitido usar (While)
'''

c = 0
q = int(input('Informe a quantidade de números que deseja na lista: '))
numeros = []
while c < q:
  numeros.append(int(input(f'Informe o {c+1}º numero inteiro da lista: ')))
  c += 1
print(f'A soma dos valores digitados é {sum(numeros)} ')

In [ ]:
'''
Faça um programa que receba do usuário números inteiros e os insira na lista
somente se o número for ímpar e encerre o programa quando a lista tiver 5 números
'''
c = 0
numerosimp = []
while c < 5:
  n = int(input(f'Insira um número inteiro: '))
  if n % 2 != 0:
    numerosimp.append(n)
    c += 1
  else:
    pass
print(numerosimp)

Insira um número inteiro: 2
Insira um número inteiro: 4
Insira um número inteiro: 6
Insira um número inteiro: 7
Insira um número inteiro: 6
Insira um número inteiro: 55
Insira um número inteiro: 19
Insira um número inteiro: 23
Insira um número inteiro: 1
[7, 55, 19, 23, 1]

In [ ]:
'''
Faça um script que receba do usuário n números inteiros, armazene os
números recebidos a cada momento em que forem recebidos em uma lista e
no final exiba a soma desses valores. Considere que o usuário deverá informar
apenas 1 numero inteiro por caixa de diálogo é permitido usar (While)
'''

c = 0
while True:
  try:
    n = int(input('Insira a quantidade de números inteiros que deseja na lista: '))
    break
  except:
    pass
  print(f'Cuidado! Você não inseriu um número inteiro! Por favor, faça isso: ')
lista = []
while c < n:
  try:
    lista.append(int(input(f'Insira o {c+1}º número da lista: ')))
    c += 1
  except:
    pass
    print(f'Cuidado! Você não inseriu um número inteiro! Por favor, Insira o {c+1}º número da lista: ')
print(f'A soma dos números da lista é: {sum(lista)}')

Insira a quantidade de números inteiros que deseja na lista: 5.5
Cuidado! Você não inseriu um número inteiro! Por favor, faça isso:
Insira a quantidade de números inteiros que deseja na lista: 9.5
Cuidado! Você não inseriu um número inteiro! Por favor, faça isso:
Insira a quantidade de números inteiros que deseja na lista: 4
Insira o 1º número da lista: 2.1
Cuidado! Você não inseriu um número inteiro! Por favor, Insira o 1º número da lista:
Insira o 1º número da lista: p
Cuidado! Você não inseriu um número inteiro! Por favor, Insira o 1º número da lista:
Insira o 1º número da lista: /
Cuidado! Você não inseriu um número inteiro! Por favor, Insira o 1º número da lista:
Insira o 1º número da lista: 4
Insira o 2º número da lista: 5
Insira o 3º número da lista: 4
Insira o 4º número da lista: 6
[4, 5, 4, 6]
A soma dos números da lista é: 19

# Python básico - funções

In [ ]:
'''
def nomedafunçao(argumento1, argumento2 ... argumenton):
  bloco de codigo
  return "valor"
'''

In [ ]:
# Ex de funçao sem argumento e sem bloco de codigo
def teste():
  return print('Bom Dia!')
# Chamando a funçao
teste()

In [ ]:
# Ex de funçao com argumento e bloco de codigo
# crie uma funçao que receba 2 argumentos (x, y) e faça o calculo de x ** y
def pot(x, y):
  potenc = x ** y
  return print(f'A potenciaçao dos dois valores é: {potenc}')
# chamando a funçao
pot(2, 3)

A potenciaçao dos dois valores é: 8

In [ ]:
# Chamando a função invertendo a ordem padrão dos argumentos sem aviso prévio (vai mudar o resultado anterior)
pot(3, 2)

A potenciaçao dos dois valores é: 9

In [ ]:
# Para inverter a ordem padrão dos argumentos é necessário explicitar os valores dos argumentos
pot(y=3, x=2)

In [ ]:
# Também é possível ser redundante e respeitar a ordem padrão dos argumentos e explicitar os seus valores
pot(x=2, y=3)

In [ ]:
'''
Elabore uma função que receba do usuário os valores de preço de venda (p),
custo variável (cv), custo fixo (cf) e calcule o valor do ponto de equlíbrio
em quantidade e informe o usuário.
'''
def peq():
  p = float(input(f'Insira o valor de preço unitário de venda em reais: '))
  cv = float(input(f'Insira o valor do custo variável: '))
  cf = float(input(f'Insira o valor do custo fixo mensal: '))
  qt = cf / (p - cv)
  return print(f'A partir de aproximadamente {qt:.0f} unidades, você terá lucro.')

In [ ]:
peq()

Insira o valor de preço unitário de venda em reais: 10
Insira o valor do custo variável: 6
Insira o valor do custo fixo mensal: 5000
A partir de aproximadamente 1250 unidades, você terá lucro.

# Exercícios

In [ ]:
'''
Elabore uma funçao que receba em 6 inputs diferentes as seguintes informaçoes:
1 - Receita líquida em reais
2 - Custo em reais
3 - Estoques em reais
4 - Contas a receber em reais
5 - Fornecedores em reais
6 - Número de dias do balanço em inteiro
após receber as informaçoes acima, a funçao deve calcular o valor e printalo dos seguintes KPI's:
a - prazo medio de estoques (pme)
b - prazo medio de recebimento(pmr)
c - prazo medio de pagamento (pmp)
d - ciclo operacional (co)
e - ciclo de caixa (cc)
e por ultimo, se (pmp) for maior que (co), printe a mensagem :
"Essa empresa paga em média tantos dias após receber"
se (pmp) for menor que (co), printe:
"Essa empresa paga em média tantos dias após receber"
se (pmp) for igual a (co), printe:
"Essa empresa paga em média no mesmo dia em que recebe"
'''
def balance():
  rl = float(input('Insira a receita líquida em reais: '))
  c = float(input('Insira o custo em reais: '))
  e = float(input('Insira o estoque em reais: '))
  cr = float(input('Insira as contas a receber em reais: '))
  f = float(input('Insira os fornecedores em reais: '))
  d = int(input('Insira o numero de dias do balanço em inteiro: '))
  pme = (e / c) * d
  pmr = (cr / rl) * d
  pmp = (f / c) * d
  co = pme + pmr
  cc = co - pmp
  print(f'pme é: {pme:.0f}, pmr é: {pmr:.0f}, pmp é: {pmp:.0f}, co é: {co:.0f}, cc é: {cc:.0f}')
  if pmp > co:
    return print(f'Essa empresa paga em média {abs(cc):.0f} após receber')
  elif pmp < co:
    return print(f'Essa empresa paga em média {abs(cc):.0f} antes de receber')
  else:
    return print(f'Essa empresa paga em média no mesmo dia em que recebe')

In [ ]:
balance()

Insira a receita líquida em reais: 10000
Insira o custo em reais: 7000
Insira o estoque em reais: 100
Insira as contas a receber em reais: 100
Insira os fornecedores em reais: 600
Insira o numero de dias do balanço em inteiro: 360
pme é: 5.142857142857142, pmr é: 3.6, pmp é: 30.857142857142858, co é: 8.742857142857142, cc é: -22.114285714285714
Essa empresa paga em média 22 após receber

In [ ]:
'''
Faça uma função sem parâmetro que ao ser acionada solicite ao usuário uma
sequência númerica em uma única caixa de texto e separada por espaços e então
após o usuário inserir os valores corretos a função devolva um print informando
o valor da média, da variância e do desvio padrão da sequência informada
'''
def fun():
  lista = input('Insira uma sequencia numérica separada por espaços: ')
  x = lista.split()
  for n in range(0, len(x)):
    x[n] = float(x[n])
  mediax = (sum(x) / len(x))
  var_x = 0
  for v in x:
    var_x += ((v - mediax) ** 2) / (len(x) - 1)
  desvx = var_x ** (1/2)
  print(f'O valor da média é: {mediax:.2f}'),
  print(f'O valor da variância é: {var_x:.2f}'),
  print(f'O valor do desvio padrão é: {desvx:.2f}')

In [ ]:
fun()

Insira uma sequencia numérica separada por espaços: 1 2 3 4 5
O valor da média é: 3.0
O valor da variância é: 2.5
O valor do desvio padrão é: 1.58